<div class="border-bottom border-weight-2 my-3">
  <h1 class="mb-3">About this list</h1>
</div>

<div class="d-flex">
<p>
<%= @list.name %>
</p>
</div>

<div>
<h4>Add a bookmark</h4>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
</div>

<div class="my-3">
  <%= link_to lists_path do %>
    <i class="fa-solid fa-square-plus"></i> Back to all lists
  <% end %>
</div>
